.badge {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    padding: 7px 14px;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}

.badge:hover {
    color: #ffead0;
}

.badge:focus {
    outline: none;
}

.badge.selected {
    color: #ffead0;
}

.main-color {
    background-color: #ffead0;
    color: #4d4d4d;
}

.inactive {
    background-color: #ffead0;
    color: #4d4d4d;
}

.simple:hover,
.simple.selected {
    background-color: #e17654;
    color: #ffead0;
    font-weight: 300;
}

.rugged:hover,
.rugged.selected {
    background-color: #115e59;
    color: #ffead0;
    font-weight: 300;
}

.luxury:hover,
.luxury.selected {
    background-color: #161616;
    color: #ffead0;
    font-weight: 300;
}

.sm {
    width: 70px;
    height: 29px;
}

.md {
    width: 86px;
    height: 34px;
}

.lg {
    width: 104px;
    height: 37px;
}
