.about-container {
    height: 100%;
}

.about-image-container {
    height: 234px;
}

.about-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    padding: 48px 26px;
}

.about-header {
    font-size: 32px;
    font-weight: 700;
}

.about-description {
    margin-top: 31px;
    font-size: 14px;
    font-weight: 500;
}

.about-banner {
    margin-top: 55px;
    background-color: #ffcc8d;
    padding: 32px 37px;
    box-shadow: 2px 2px 14px 2px #000000;
}

.about-banner-header {
    font-size: 24px;
}

.about-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border-radius: 10px;
    height: 50px;
    width: 174px;
    color: #fff;
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
}
